extends layout.pug

block content
  nav.navbar.navbar-light.bg-faded
    a.navbar-brand(href='#') Navbar

  .container-fluid.bgd-color
    .container
      div.row
        each beer in beers
          div.col-md-4.col-sm-6.text-center.mt-5.px-3
            - var thumb = beer.thumbnail
              img(src='' + thumb + '')
              p.mt-4 #{beer.name}
  // jQuery first, then Tether, then Bootstrap JS.
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
  |
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
