extends layout.pug

block content
  .container-fluid.bgd-color
    .container
      div.row
        each beer in beers
          div.col-md-4.col-sm-6.text-center.mt-5.px-3
            - var thumb = beer.thumbnail
            - var id = beer.id
              a(href='/products/' + id + '')
                img(src='' + thumb + '')
                p.mt-4 #{beer.name}
